datetime-utils @ git+https://github.com/reimibeta/django-datetime-utils.git@5939fb6ba1bd71290956c7e07afed09f70b4a9a3
Django==3.1.7
django-admin-list-filter-dropdown==1.0.3
django-cleanup==5.1.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
drf-flex-fields==0.8.9
html-render-utils @ git+https://github.com/reimibeta/django-html-render-utils.git@9bbabb69dc47b3d47fb6162fef4e32a840652986
image-utils @ git+https://github.com/reimibeta/django-image-utils.git@78c0030e64bd7d76c208bc3ba96e73845d1d047e
mysqlclient==2.0.3
Pillow==8.2.0
rest-framework-utils @ git+https://github.com/reimibeta/django-rest-framework-utils.git@edbbeade9a5226bdc787726a5b2bb1f07336471d
stock-algorithms @ git+https://github.com/reimibeta/django-stock-utils.git@af1291decd5f2e2e0387a57186dff2335b026836
user-models @ git+https://github.com/reimibeta/django-user-models.git@4524b3d5e4c7ce30c572b363d4cbaa4359e24204
